name: Spell Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    name: Check Spelling
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
        with:
          config: .typos.toml
